<footer class="site-footer">

  <div class="wrap">

    <span itemprop="author" itemscope itemtype="http://schema.org/Person"><h2 class="footer-heading" itemprop="name" >{{ site.title }}</h2></span>

    <div class="row">

    <div class="col-sm-4">
      <ul>
        <li><a href="/" class="fa fa-male">{{ site.title }}</a></li>
        <li><a href="mailto:{{ site.email }}"><i class="fa fa-paper-plane-o"></i><span class="username">{{ site.email }}</span></a></li>
      </ul>
    </div>

    <div class="col-sm-2">
      <ul>
        <li>
          <a href="https://github.com/{{ site.username }}">
            <span class="icon github">
              <i class="fa fa-github-alt"></i> 
            </span>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/GuoBug_Boy">
            <span class="icon twitter">
              <i class="fa fa-twitter fa-2"></i>
            </span>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="https://plus.google.com/118290695963421285009?rel=author">
            <span class="icon google">
              <i class="fa fa-google-plus"></i> 
            </span>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-sm-6">
      <p class="text">{{ site.description }}</p>
    </div>


  </div>
  </div>

</footer>
