/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

small .post_date {
  font-size: 15px;
  display: block;
  color: #818181;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
  zoom: 1;
}


.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}